<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Patch_of_the_New_York_City_Police_Department.svg/800px-Patch_of_the_New_York_City_Police_Department.svg.png" title="NYPD Logo" style="height:7em;float:right"/>
<h1 style="float:left;font-size:2.5em">NYC Motor Vehicle Crashes</h1>

The **goal** of this notebook is to help prepare a dataset to draw insights from regarding high-risk locations for vehicle crashes in New York City.

The **source** dataset is the [Motor Vehicle Collisions crash table](https://data.cityofnewyork.us/d/h9gi-nx95), and originates from [police reports (MV-104AN)](https://www.nhtsa.gov/sites/nhtsa.dot.gov/files/documents/ny_overlay_mv-104an_rev05_2004.pdf) filled in by the [NYPD](https://en.wikipedia.org/wiki/NYPD "New York City Police Department"). It is frequently updated and publicly available. To limit the initial scope, we will use a `.csv` file containing a subset of this data consisting of 100000 rows.

The **target** dataset is a `.csv` file, cleaned as good as possible within the given time constraints, while adhering to the requirements in the checklist below.

**Checklist**
* [ ] No missing values
* [ ] No duplicates
* [ ] Values are consolidated
* [ ] Correct data format
* [ ] No blank spaces

## Background information

Based on: [dataset description](https://data.cityofnewyork.us/d/h9gi-nx95) *(consulted 09 March 2021)*

**Key dataset information:**

* Currently, there are 1.76M rows.
* The table has 29 columns.
* Each row represents a Motor Vehicle Collision.

**Data collection timeline:**

|Period|Description|
|---|:--|
|**Pre 1998**|No uniform way to collect traffic safety data within the NYPD.|
|**April 1998**|NYPD implements the TrafficStat program and creates form `MV-104AN` to help collect data.|
|**July 1999**|NYPD implements Traffic Accident Management System (TAMS) and uses form `MV-104AN`. This marks the start of the collection of basic data to get the number of accidents, injuries and fatalities.|
|**2014**|Start of the VisionZero program to replace TrafficStat.|
|**March 2016**|TAMS is replaced by Finest Online Records Management System (FORMS). FORMS brings electronic input, a data warehouse backend and the collection of extra information with it. An updated version of form `MV-104AN` is being used.|

**Other notes:**

* There is a detailed [data dictionary](https://data.cityofnewyork.us/api/views/h9gi-nx95/files/bd7ab0b2-d48c-48c4-a0a5-590d31a3e120?download=true&filename=MVCollisionsDataDictionary_20190813_ERD.xlsx) document available.
  * Column `collision_id` is a [primary key](https://en.wikipedia.org/wiki/Primary_key).
  * Besides the `Crash` dataset, there are also `Vehicle` and `Person` datasets, where we can use `collision_id` to look up rows.
  * Columns `latitude` and `longitude` are coordinates for [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System) (a.k.a. EPSG 4326).

## Preparation

### a) Verification of the software requirements

Make sure you have the following installed or follow the links for installation instructions:
1. `numpy` ([homepage](https://www.numpy.org/) | [installation instructions](https://numpy.org/install/))
1. `pandas` ([homepage](https://pandas.pydata.org/) | [installation instructions](https://pandas.pydata.org/docs/getting_started/install.html))
1. `pandas_profiling` ([github page](https://github.com/pandas-profiling/pandas-profiling) | [installation instructions](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/installation.html))

**Important:** *It's possible you need to activate the widgets extension for this notebook to work properly. See the [Jupyter section](https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/installation.html#jupyter-notebook-lab) in the pandas_profiling installation instructions.*

### b) Importing the necessary modules

In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

### c) Importing the dataset

#### Standard import

In [2]:
df = pd.read_csv("./data/data_100000.csv")

#### Inspection

In [3]:
df.shape

(100000, 29)

In [4]:
df.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'off_street_name',
       'cross_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')

In [6]:
# is collision_id a unique value?
df.collision_id.nunique() == len(df)

True

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     100000 non-null  object
 1   crash_time                     100000 non-null  object
 2   borough                        64974 non-null   object
 3   zip_code                       64966 non-null   float64
 4   latitude                       91965 non-null   float64
 5   longitude                      91965 non-null   float64
 6   location                       91965 non-null   object
 7   on_street_name                 73991 non-null   object
 8   off_street_name                47125 non-null   object
 9   cross_street_name              25967 non-null   object
 10  number_of_persons_injured      100000 non-null  int64
 11  number_of_persons_killed       100000 non-null  int64
 12  number_of_pedestrians_injured  100000 non-null  int64
 13  number_of_pedestrians_killed   100000 non-null  int64
 14  number_of_cyclist_injured      100000 non-null  int64
 15  number_of_cyclist_killed       100000 non-null  int64
 16  number_of_motorist_injured     100000 non-null  int64
 17  number_of_motorist_killed      100000 non-null  int64
 18  contributing_factor_vehicle_1  99629 non-null   object
 19  contributing_factor_vehicle_2  80757 non-null   object
 20  contributing_factor_vehicle_3  8761 non-null    object
 21  contributing_factor_vehicle_4  2240 non-null    object
 22  contributing_factor_vehicle_5  667 non-null     object
 23  collision_id                   100000 non-null  int64
 24  vehicle_type_code1             99260 non-null   object
 25  vehicle_type_code2             73411 non-null   object
 26  vehicle_type_code_3            8329 non-null    object
 27  vehicle_type_code_4            2147 non-null    object
 28  vehicle_type_code_5            646 non-null     object
dtypes: float64(3), int64(9), object(17)
memory usage: 22.1+ MB

In [8]:
df.head().T

,0,1,2,3,4
crash_date,2017-04-18T00:00:00.000,2017-05-06T00:00:00.000,2017-04-27T00:00:00.000,2017-05-09T00:00:00.000,2017-04-18T00:00:00.000
crash_time,23:10,13:00,17:15,20:10,14:00
borough,STATEN ISLAND,BRONX,QUEENS,NaN,BRONX
zip_code,10312.0,10472.0,11420.0,NaN,10456.0
latitude,40.536728,40.829052,40.677303,40.624958,40.828846
longitude,-74.193344,-73.85038,-73.804565,-74.145775,-73.90312
location,"(40.536728, -74.193344)","(40.829052, -73.85038)","(40.677303, -73.804565)","(40.624958, -74.145775)","(40.828846, -73.90312)"
on_street_name,NaN,CASTLE HILL AVENUE,135 STREET,FOREST AVENUE,NaN
off_street_name,NaN,BLACKROCK AVENUE,FOCH BOULEVARD,RICHMOND AVENUE,NaN
cross_street_name,243 DARLINGTON AVENUE,NaN,NaN,NaN,1167 BOSTON ROAD
number_of_persons_injured,0,1,0,1,0
number_of_persons_killed,0,0,0,0,0
number_of_pedestrians_injured,0,1,0,0,0
number_of_pedestrians_killed,0,0,0,0,0
number_of_cyclist_injured,0,0,0,0,0
number_of_cyclist_killed,0,0,0,0,0
number_of_motorist_injured,0,0,0,1,0
number_of_motorist_killed,0,0,0,0,0
contributing_factor_vehicle_1,Driver Inattention/Distraction,Failure to Yield Right-of-Way,Driver Inattention/Distraction,Unspecified,Driver Inattention/Distraction
contributing_factor_vehicle_2,Unspecified,NaN,Unspecified,Unspecified,Unspecified
contributing_factor_vehicle_3,NaN,NaN,NaN,Unspecified,NaN
contributing_factor_vehicle_4,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_5,NaN,NaN,NaN,NaN,NaN
collision_id,3654181,3665311,3658491,3666554,3653269
vehicle_type_code1,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Motorcycle,Sedan
vehicle_type_code2,NaN,NaN,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
vehicle_type_code_3,NaN,NaN,NaN,Bus,NaN
vehicle_type_code_4,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_5,NaN,NaN,NaN,NaN,NaN

> **Notes:** 
> * `crash_date` and `crash_time` *=> can be merged and converted to a datetime datatype*
> * `zip_code` is a float *=> change to string; you can't perform calculations with zip codes*
> * `latitude` and `longitude` columns are duplicated in `location` *=> drop one of them*
> * `collision_id` is a primary key *=> can become the index*
> * `vehicle_type_code1` and `vehicle_type_code2` column names don't have an underscore in their suffix
> * multiple `contributing_factor_vehicle` and `vehicle_type_code` columns with a numeric suffix *=> better to change*
> * there are lots of missing values (NaN), mainly in `contributing_factor_vehicle` and `vehicle_type_code` *=> drop these columns*

## Data preprocessing

### a) Improve dataframe

> **Notes:** 
> * Let's reimport the dataframe like this:
> * `collision_id` as the index
> * `crash_date` and `crash_time` as a datetime
> * `zip_code` as a string
> * other columns: 'borough', 'zip_code', 'latitude', 'longitude', 'location', 'on_street_name', 'off_street_name', 'cross_street_name', 'number_of_persons_injured', 'number_of_persons_killed'

In [9]:
df = pd.read_csv("./data/data_100000.csv", 
                 parse_dates={"timestamp" : ["crash_date", "crash_time"]}, 
                 infer_datetime_format=True, 
                 index_col="collision_id", 
                 dtype={"zip_code" : "str"},
                 usecols=["collision_id", 
                          "crash_date", 
                          "crash_time", 
                          "latitude", 
                          "longitude", 
                          "borough", 
                          "zip_code", 
                          "on_street_name", 
                          "off_street_name", 
                          "cross_street_name", 
                          "number_of_persons_injured", 
                          "number_of_persons_killed"])

In [10]:
column_labels = {'number_of_persons_injured':'injuries', 
                 'number_of_persons_killed':'fatalities'}

df.rename(columns=column_labels, inplace=True)

### b) Reinspection

#### Check a couple of rows

In [13]:
df.head()

,timestamp,borough,zip_code,latitude,longitude,on_street_name,off_street_name,cross_street_name,injuries,fatalities
collision_id,,,,,,,,,,
3654181,2017-04-18 23:10:00,STATEN ISLAND,10312,40.536728,-74.193344,NaN,NaN,243 DARLINGTON AVENUE,0,0
3665311,2017-05-06 13:00:00,BRONX,10472,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0
3658491,2017-04-27 17:15:00,QUEENS,11420,40.677303,-73.804565,135 STREET,FOCH BOULEVARD,NaN,0,0
3666554,2017-05-09 20:10:00,NaN,NaN,40.624958,-74.145775,FOREST AVENUE,RICHMOND AVENUE,NaN,1,0
3653269,2017-04-18 14:00:00,BRONX,10456,40.828846,-73.903120,NaN,NaN,1167 BOSTON ROAD,0,0

#### Check the data types of the columns

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 3654181 to 4247517
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   timestamp          100000 non-null  datetime64[ns]
 1   borough            64974 non-null   object
 2   zip_code           64966 non-null   object
 3   latitude           91965 non-null   float64
 4   longitude          91965 non-null   float64
 5   on_street_name     73991 non-null   object
 6   off_street_name    47125 non-null   object
 7   cross_street_name  25967 non-null   object
 8   injuries           100000 non-null  int64
 9   fatalities         100000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 8.4+ MB

### c) Create subsets of the data to work on

In [28]:
"""# list the location columns
location_columns = ["location", 
                    "latitude", 
                    "longitude", 
                    "borough", 
                    "zip_code", 
                    "on_street_name", 
                    "off_street_name", 
                    "cross_street_name"]

# list the numeric columns
numeric_columns = ["number_of_persons_injured", 
                   "number_of_persons_killed", 
                   "number_of_pedestrians_injured", 
                   "number_of_pedestrians_killed", 
                   "number_of_cyclist_injured", 
                   "number_of_cyclist_killed", 
                   "number_of_motorist_injured", 
                   "number_of_motorist_killed"]"""

In [90]:
"""location_df = pd.DataFrame(data=df[location_columns], copy=True)
#location_df = df[location_columns]
numeric_df = df[numeric_columns]"""

In [ ]:
"""# https://stackoverflow.com/q/35491274"""

#### Extract coordinates from the location column

In [91]:
"""# first convert location column data from string to lists of strings

# function to convert a location string to a list
parse_location = lambda x: str(x).strip("()").split(", ")

#location_df.loc[:,"location"] = location_df.location.apply(parse_location)
location_df["location"] = location_df.location.apply(parse_location)"""

In [95]:
"""# then use the lists as the datasource for two extra colums
location_df[["latitude_check", "longitude_check"]] = pd.DataFrame(location_df.location.to_list())"""

In [97]:
"""# alternative aproach to the above: use regex to extract the coordinates
import re"""

In [119]:
"""df.location.fillna("").apply(lambda x: re.findall("[-]*\d+[.]\d+", x)).to_list()
# needs further work to split in lat & long"""

[['40.536728', '-74.193344'],
 ['40.829052', '-73.85038'],
 ['40.677303', '-73.804565'],
 ['40.624958', '-74.145775'],
 ['40.828846', '-73.90312'],
 ['40.556454', '-74.20777'],
 ['40.740025', '-73.97626'],
 ['40.651646', '-73.93233'],
 ['40.7518', '-73.817314'],
 ['40.816864', '-73.882744'],
 ['40.639614', '-74.08727'],
 ['40.71423', '-73.85386'],
 ['40.602757', '-73.96377'],
 ['40.652973', '-73.94401'],
 ['40.61074', '-73.92241'],
 ['40.69168', '-73.999344'],
 ['40.886536', '-73.89985'],
 ['40.686234', '-73.82418'],
 ['40.859875', '-73.89323'],
 ['40.848255', '-73.90976'],
 ['40.835358', '-73.94022'],
 ['40.727753', '-73.85861'],
 ['40.666702', '-73.76731'],
 ['40.66322', '-73.893654'],
 [],
 [],
 [],
 [],
 ['40.659714', '-73.739815'],
 ['40.86507', '-73.87185'],
 ['40.558887', '-74.1977'],
 ['40.678894', '-73.90347'],
 ['40.676373', '-73.84701'],
 ['40.84487', '-73.92068'],
 ['40.599243', '-73.752495'],
 ['40.8047', '-73.83141'],
 [],
 ['40.763287', '-73.80358'],
 ['40.651733', '-73.93039'],
 ['40.71755', '-73.99932'],
 ['40.740944', '-74.00537'],
 ['40.637222', '-73.9598'],
 ['40.736668', '-73.997345'],
 ['40.631973', '-74.08769'],
 ['40.677616', '-73.92829'],
 ['40.7224', '-73.99165'],
 ['40.726986', '-73.985756'],
 ['40.710144', '-74.002556'],
 ['40.843212', '-73.83894'],
 ['40.603283', '-74.00321'],
 ['40.63874', '-73.8952'],
 ['40.637993', '-74.07929'],
 [],
 ['40.84554', '-73.93278'],
 ['40.702724', '-73.95002'],
 ['40.6889', '-73.92726'],
 ['40.866047', '-73.87207'],
 ['40.738552', '-73.99969'],
 [],
 ['40.67175', '-73.89685'],
 ['40.74917', '-73.97034'],
 ['40.876503', '-73.904564'],
 ['40.666416', '-73.80631'],
 ['40.71741', '-73.984'],
 ['40.752903', '-73.832565'],
 ['40.598034', '-73.97976'],
 ['40.81269', '-73.95313'],
 ['40.820263', '-73.92976'],
 ['40.81831', '-73.88558'],
 ['40.728176', '-73.89658'],
 ['40.58388', '-74.16878'],
 ['40.576572', '-73.976494'],
 ['40.754128', '-73.75087'],
 ['40.834198', '-73.85169'],
 ['40.75529', '-73.99493'],
 ['40.848637', '-73.91169'],
 ['40.601006', '-74.076454'],
 ['40.73723', '-74.000656'],
 [],
 [],
 ['40.77373', '-73.96402'],
 [],
 ['40.71976', '-73.94476'],
 ['40.804066', '-73.93267'],
 ['40.762394', '-73.97861'],
 ['40.671032', '-73.93927'],
 ['40.663063', '-73.8746'],
 ['40.758705', '-73.98928'],
 ['40.601128', '-73.997086'],
 ['40.87406', '-73.90897'],
 ['40.751602', '-73.93384'],
 ['40.7215', '-73.98018'],
 ['40.585964', '-73.9517'],
 ['40.748146', '-73.90426'],
 ['40.895374', '-73.86356'],
 ['40.639153', '-73.99142'],
 ['40.74811', '-73.987785'],
 ['40.885532', '-73.894684'],
 ['40.61672', '-74.018326'],
 ['40.65772', '-73.895386'],
 ['40.67285', '-73.97339'],
 ['40.79522', '-73.921524'],
 ['40.72952', '-74.00514'],
 ['40.82733', '-73.8498'],
 ['40.63413', '-73.928505'],
 ['40.68097', '-73.98364'],
 ['40.724495', '-73.72469'],
 ['40.655895', '-74.00591'],
 ['40.749527', '-73.88332'],
 ['40.708324', '-73.84314'],
 ['40.628567', '-73.888794'],
 ['40.855972', '-73.869896'],
 ['40.713947', '-73.88422'],
 ['40.837864', '-73.86356'],
 ['40.686234', '-73.82418'],
 ['40.698677', '-73.95886'],
 ['40.861347', '-73.897736'],
 ['40.72135', '-74.00465'],
 ['40.686646', '-73.849075'],
 ['40.83404', '-73.89963'],
 ['40.827347', '-73.90739'],
 ['40.674114', '-73.88975'],
 ['40.73715', '-73.930824'],
 ['40.738796', '-73.97716'],
 ['40.83265', '-73.86366'],
 ['40.75201', '-73.93016'],
 ['40.866096', '-73.83785'],
 ['40.746956', '-73.98692'],
 ['40.636112', '-73.7403'],
 ['40.58416', '-73.95268'],
 ['40.76211', '-73.96016'],
 [],
 ['40.691914', '-73.88363'],
 ['40.710938', '-73.74355'],
 ['40.529263', '-74.18986'],
 ['40.715984', '-74.010254'],
 ['40.73177', '-73.866714'],
 ['40.73251', '-73.857056'],
 ['40.77855', '-73.925674'],
 ['40.67236', '-74.01123'],
 ['40.63132', '-73.902336'],
 ['40.820984', '-73.891624'],
 ['40.65616', '-73.76736'],
 ['40.718254', '-73.88815'],
 ['40.84772', '-73.86704'],
 ['40.76732', '-73.92231'],
 ['40.72235', '-73.99327'],
 ['40.5983', '-73.94149'],
 ['40.85206', '-73.934784'],
 [],
 [],
 ['40.788788', '-73.78443'],
 ['40.73632', '-73.85631'],
 ['40.822643', '-73.953224'],
 ['40.674664', '-73.97025'],
 ['40.609985', '-73.96239'],
 ['40.8678', '-73.86251'],
 ['40.76588', '-73.99464'],
 [],
 ['40.75837', '-201.23706'],
 ['40.76197', '-73.86917'],
 ['40.845024', '-73.92632'],
 ['40.713135', '-74.00407'],
 ['40.758694', '-73.87345'],
 ['40.848736', '-73.93234'],
 ['40.7074', '-73.771614'],
 ['40.798126', '-73.94832'],
 ['40.75469', '-73.993484'],
 ['40.73811', '-73.78942'],
 ['40.757393', '-73.93547'],
 [],
 ['40.70768', '-73.74512'],
 ['40.773808', '-73.8929'],
 ['40.69283', '-73.85468'],
 [],
 ['40.62214', '-74.02567'],
 ['40.826797', '-73.82237'],
 ['40.675827', '-73.817276'],
 ['40.713596', '-73.85964'],
 ['40.79335', '-73.97275'],
 ['40.67415', '-73.88068'],
 ['40.740364', '-73.94956'],
 ['40.72495', '-73.99492'],
 ['40.690098', '-73.86113'],
 ['40.84921', '-73.90011'],
 ['40.74959', '-74.00279'],
 [],
 ['40.638363', '-73.900116'],
 ['40.85681', '-73.89818'],
 [],
 ['40.71153', '-73.95504'],
 ['40.588852', '-73.89942'],
 ['40.693516', '-73.96499'],
 ['40.594387', '-73.93543'],
 ['40.533882', '-74.16231'],
 ['40.86913', '-73.89582'],
 ['40.669476', '-73.919975'],
 ['40.761192', '-73.98549'],
 ['40.551563', '-74.1453'],
 ['40.772415', '-73.97874'],
 ['40.594616', '-73.99743'],
 ['40.8746', '-73.9097'],
 ['40.70731', '-73.764626'],
 ['40.721676', '-73.835976'],
 ['40.542965', '-74.21845'],
 ['40.864697', '-73.91965'],
 ['40.87584', '-73.90314'],
 ['40.77491', '-73.92821'],
 ['40.756607', '-73.97651'],
 ['40.683746', '-73.952446'],
 ['40.830257', '-73.914856'],
 ['40.817574', '-73.90359'],
 [],
 [],
 ['40.63524', '-73.967636'],
 ['40.589035', '-74.08988'],
 ['40.73696', '-73.98451'],
 [],
 ['40.756725', '-73.96'],
 ['40.671898', '-73.92231'],
 ['40.770313', '-73.99141'],
 ['40.695858', '-73.81891'],
 ['40.740078', '-73.89969'],
 ['40.878983', '-73.90609'],
 ['40.732983', '-73.99118'],
 ['40.668854', '-73.92555'],
 ['40.756084', '-73.880486'],
 ['40.83054', '-73.946526'],
 ['40.905178', '-73.904625'],
 ['40.73046', '-73.9515'],
 ['40.862717', '-73.9023'],
 ['40.632725', '-74.079155'],
 ['40.713135', '-73.87528'],
 ['40.848927', '-73.88816'],
 ['40.715145', '-73.74935'],
 ['40.712498', '-73.97776'],
 ['40.706657', '-74.015915'],
 ['40.670616', '-73.911934'],
 [],
 ['40.609642', '-73.89738'],
 [],
 ['40.76471', '-73.830696'],
 ['40.786785', '-73.80971'],
 ['40.699524', '-73.83067'],
 [],
 ['40.624783', '-73.96493'],
 ['40.82864', '-73.85344'],
 ['40.619186', '-73.9493'],
 ['40.710976', '-73.97962'],
 ['40.713177', '-73.89731'],
 ['40.623055', '-74.11327'],
 ['40.714527', '-73.97481'],
 ['40.625916', '-74.13452'],
 ['40.712555', '-73.89711'],
 ['40.750538', '-73.940636'],
 ['40.710114', '-74.012665'],
 ['40.71552', '-74.00925'],
 ['40.694687', '-73.95521'],
 ['40.62877', '-73.91825'],
 ['40.686024', '-73.81087'],
 ['40.777023', '-73.77554'],
 ['40.67553', '-73.96319'],
 ['40.663982', '-73.72963'],
 ['40.760418', '-73.97584'],
 ['40.738552', '-73.99969'],
 ['40.844795', '-73.92263'],
 ['40.73599', '-73.86551'],
 ['40.74608', '-73.974945'],
 ['40.720528', '-73.87228'],
 [],
 ['40.686928', '-73.98484'],
 ['40.8283', '-73.92447'],
 ['40.689243', '-73.98873'],
 ['40.646313', '-73.90772'],
 ['40.85379', '-73.89123'],
 [],
 ['40.685215', '-73.95928'],
 ['40.88243', '-73.902306'],
 ['40.753456', '-73.941414'],
 [],
 ['40.765224', '-73.9317'],
 ['40.791496', '-73.97224'],
 ['40.702293', '-73.79117'],
 ['40.714798', '-73.80756'],
 ['40.666477', '-73.808136'],
 ['40.88702', '-73.86319'],
 ['40.70947', '-73.74581'],
 ['40.886555', '-73.878395'],
 ['40.722496', '-73.940414'],
 ['40.651688', '-73.88877'],
 ['40.684166', '-73.92931'],
 ['40.826397', '-73.92116'],
 ['40.70001', '-73.830894'],
 ['40.75529', '-73.99493'],
 ['40.639748', '-73.952286'],
 ['40.75228', '-73.9897'],
 ['40.767815', '-73.98951'],
 ['40.75927', '-73.980896'],
 ['40.65591', '-73.89191'],
 ['40.75515', '-73.88245'],
 ['40.60555', '-73.95672'],
 ['40.66047', '-73.998024'],
 ['40.599823', '-74.12908'],
 ['40.577213', '-73.96329'],
 [],
 ['40.577644', '-73.96124'],
 ['40.72552', '-73.9575'],
 ['40.82247', '-73.9072'],
 ['40.744656', '-73.94853'],
 ['40.802753', '-73.93358'],
 ['40.621403', '-74.02893'],
 ['40.727272', '-73.81718'],
 ['40.75866', '-73.98875'],
 ['40.61785', '-73.988075'],
 ['40.673748', '-73.84324'],
 ['40.66517', '-73.804054'],
 ['40.833557', '-73.85774'],
 ['40.620968', '-74.08431'],
 [],
 ['40.750206', '-74.00234'],
 ['40.635254', '-74.02832'],
 ['40.73174', '-73.99147'],
 ['40.6224', '-73.936646'],
 ['40.66614', '-73.82326'],
 ['40.798256', '-73.82744'],
 ['40.767918', '-73.985725'],
 ['40.79801', '-73.827065'],
 ['40.52796', '-74.16258'],
 ['40.633217', '-73.954865'],
 ['40.87514', '-73.90499'],
 ['40.666054', '-73.77985'],
 [],
 ['40.760746', '-73.988266'],
 ['40.63308', '-74.020195'],
 ['40.74769', '-74.00417'],
 ['40.75207', '-73.926476'],
 ['40.628647', '-73.95207'],
 ['40.603855', '-73.972244'],
 ['40.715927', '-73.80889'],
 ['40.8233', '-73.88003'],
 ['40.597122', '-74.00418'],
 ['40.63359', '-73.973656'],
 ['40.81509', '-73.83608'],
 ['40.84962', '-73.855286'],
 ['40.8436', '-73.94511'],
 [],
 ['40.787525', '-73.79483'],
 ['40.80929', '-73.90313'],
 ['40.601006', '-74.076454'],
 ['40.814636', '-73.795815'],
 [],
 ['40.67813', '-73.94907'],
 ['40.862534', '-73.89708'],
 ['40.74128', '-73.90257'],
 ['40.75586', '-73.83615'],
 ['40.737682', '-73.85206'],
 ['40.848114', '-73.901474'],
 ['40.715023', '-73.80765'],
 ['40.813606', '-73.94868'],
 ['40.726986', '-73.985756'],
 ['40.619396', '-73.969574'],
 ['40.69869', '-73.83806'],
 ['40.576736', '-73.96547'],
 ['40.781406', '-73.778175'],
 ['40.70118', '-73.98778'],
 ['40.754684', '-73.984245'],
 ['40.683506', '-73.97594'],
 ['40.69644', '-73.92228'],
 [],
 ['40.638313', '-74.00663'],
 ['40.732555', '-73.92509'],
 ['40.879055', '-73.87439'],
 ['40.71197', '-73.96104'],
 ['40.634365', '-73.88883'],
 ['40.77369', '-73.961945'],
 ['40.629036', '-74.16538'],
 ['40.846138', '-73.93424'],
 ['40.685963', '-73.85654'],
 ['40.723648', '-73.99103'],
 ['40.736275', '-73.772865'],
 ['40.696205', '-73.91782'],
 ['40.805557', '-73.91047'],
 ['40.84633', '-73.86081'],
 ['40.69993', '-73.96188'],
 ['40.741405', '-73.98337'],
 ['40.768486', '-73.955505'],
 ['40.815327', '-73.93576'],
 ['40.743958', '-73.86765'],
 ['40.662663', '-73.89352'],
 ['40.758217', '-73.98907'],
 [],
 ['40.749054', '-73.98835'],
 ['40.75766', '-73.99084'],
 ['40.858723', '-73.83344'],
 ['40.727295', '-73.95581'],
 ['40.62528', '-74.13548'],
 ['40.845024', '-73.92632'],
 ['40.86536', '-73.87043'],
 ['40.60753', '-73.96482'],
 ['40.816044', '-73.91195'],
 ['40.71135', '-73.96143'],
 ['40.5171', '-74.233894'],
 ['40.664745', '-73.74003'],
 ['40.6798', '-73.93885'],
 ['40.813095', '-73.94161'],
 ['40.798256', '-73.82744'],
 ['40.6807', '-73.89662'],
 ['40.72739', '-73.81943'],
 ['40.611404', '-74.00952'],
 [],
 ['40.68815', '-73.95987'],
 ['40.75173', '-73.88183'],
 ['40.751797', '-73.99463'],
 ['40.68445', '-73.97113'],
 ['40.6399', '-73.90651'],
 ['40.722683', '-73.98601'],
 ['40.834114', '-73.86327'],
 ['40.778797', '-73.98206'],
 ['40.824005', '-73.87383'],
 ['40.880257', '-73.876785'],
 ['40.771084', '-73.908226'],
 ['40.62606', '-73.997025'],
 ['40.677937', '-73.87188'],
 ['40.769318', '-73.8666'],
 [],
 ['40.57554', '-73.979645'],
 ['40.686695', '-73.81498'],
 ['40.8905', '-73.831154'],
 ['40.78214', '-73.824844'],
 ['40.854763', '-73.90765'],
 ['40.77077', '-73.91727'],
 ['40.8223', '-73.873'],
 ['40.604153', '-74.05198'],
 ['40.588215', '-73.80515'],
 ['40.788227', '-73.95135'],
 ['40.806835', '-73.924355'],
 ['40.64667', '-73.896034'],
 ['40.579803', '-73.97184'],
 ['40.76091', '-73.96482'],
 ['40.715214', '-73.77265'],
 ['40.66737', '-73.996414'],
 ['40.710888', '-74.00907'],
 ['40.707375', '-73.80969'],
 ['40.80297', '-73.96387'],
 ['40.73204', '-73.87034'],
 ['40.74106', '-73.946106'],
 ['40.763363', '-73.95925'],
 ['40.613026', '-74.12355'],
 ['40.790905', '-73.93914'],
 ['40.70421', '-73.96121'],
 ['40.815327', '-73.93576'],
 ['40.606377', '-74.06263'],
 ['40.65749', '-73.893074'],
 [],
 ['40.681076', '-73.95535'],
 ['40.74484', '-73.85225'],
 ['40.741776', '-73.95295'],
 ['40.66737', '-73.996414'],
 ['40.620968', '-74.12374'],
 ['40.729794', '-73.982994'],
 ['40.636425', '-74.00501'],
 ['40.677574', '-73.95548'],
 ['40.809563', '-73.92923'],
 ['40.70817', '-73.81535'],
 ['40.829945', '-73.93005'],
 ['40.694077', '-73.89729'],
 ['40.817173', '-73.861725'],
 ['40.696735', '-73.93481'],
 ['40.651863', '-73.86536'],
 ['40.619083', '-73.950264'],
 ['40.756847', '-73.873116'],
 ['40.833916', '-73.93136'],
 ['40.742374', '-73.883095'],
 ['40.773098', '-73.96448'],
 ['40.589798', '-73.9701'],
 ['40.689034', '-73.95862'],
 [],
 [],
 ['40.5953', '-74.1619'],
 ['40.757454', '-73.95571'],
 ['40.72046', '-73.98963'],
 ['40.82699', '-73.909294'],
 ['40.694935', '-73.92796'],
 ['40.691174', '-73.83819'],
 ['40.888752', '-73.90968'],
 ['40.66021', '-73.768906'],
 ['40.772068', '-73.92008'],
 ['40.758224', '-73.91741'],
 ['40.68594', '-73.84686'],
 ['40.73624', '-73.81055'],
 ['40.744522', '-73.99164'],
 ['40.75826', '-73.76829'],
 ['40.60242', '-73.99459'],
 ['40.770256', '-73.91586'],
 ['40.52114', '-74.21724'],
 ['40.75451', '-73.827156'],
 ['40.62524', '-74.00947'],
 ['40.636677', '-73.97314'],
 ['40.666595', '-73.87176'],
 ['40.802753', '-73.93358'],
 ['40.79522', '-73.921524'],
 ['40.811367', '-73.95402'],
 [],
 ['40.638237', '-74.108696'],
 ['40.850494', '-73.91546'],
 ['40.62194', '-73.91753'],
 ['40.663715', '-73.92712'],
 ['40.828976', '-73.9486'],
 ['40.73116', '-73.984245'],
 ['40.74451', '-73.99162'],
 ['40.75626', '-73.969894'],
 ['40.770054', '-73.914406'],
 ['40.731575', '-73.92484'],
 ['40.80422', '-73.91135'],
 ['40.742252', '-74.00071'],
 ['40.69997', '-73.94059'],
 ['40.717033', '-73.95644'],
 ['40.617664', '-73.962814'],
 ['40.776875', '-73.94938'],
 ['40.829185', '-73.928764'],
 ['40.807537', '-73.8798'],
 ['40.8763', '-73.8759'],
 ['40.752434', '-73.75949'],
 ['40.69878', '-73.91178'],
 ['40.73652', '-73.99073'],
 ['40.638786', '-73.94538'],
 ['40.737785', '-73.93496'],
 ['40.685837', '-73.82686'],
 ['40.591263', '-73.944016'],
 ['40.675053', '-73.87436'],
 ['40.845776', '-73.863464'],
 ['40.8541', '-73.919106'],
 ['40.854904', '-73.89645'],
 ['40.764706', '-73.811005'],
 ['40.759823', '-73.85509'],
 ['40.62681', '-74.00784'],
 ['40.619606', '-73.945526'],
 ['40.76562', '-73.98822'],
 ['40.738403', '-73.80272'],
 ['40.60496', '-73.94377'],
 ['40.803593', '-73.919785'],
 ['40.808277', '-73.9388'],
 ['40.82811', '-73.93806'],
 ['40.76813', '-73.87625'],
 ['40.638157', '-73.89176'],
 ['40.885757', '-73.82837'],
 ['40.743397', '-73.88388'],
 ['40.700703', '-73.752'],
 ['40.73251', '-73.86827'],
 ['40.812313', '-73.95223'],
 [],
 [],
 ['40.590744', '-74.19234'],
 ['40.789116', '-73.82259'],
 [],
 ['40.84551', '-73.83422'],
 [],
 [],
 [],
 ['40.690144', '-73.98408'],
 ['40.822643', '-73.953224'],
 ['40.701237', '-73.79465'],
 ['40.75781', '-73.97353'],
 ['40.81516', '-73.91774'],
 ['40.815685', '-73.9583'],
 ['40.710396', '-74.00561'],
 ['40.759033', '-73.81325'],
 ['40.761093', '-73.98327'],
 ['40.779495', '-73.9535'],
 ['40.71476', '-73.82104'],
 ['40.659607', '-73.77386'],
 ['40.78211', '-73.955795'],
 ['40.770393', '-73.94808'],
 ['40.69889', '-73.91753'],
 ['40.638878', '-74.00605'],
 ['40.777542', '-73.957016'],
 ['40.862534', '-73.89708'],
 ['40.772953', '-73.92028'],
 [],
 ['40.85132', '-73.90842'],
 ['40.790363', '-73.97342'],
 ['40.75834', '-73.95775'],
 ['40.75252', '-73.98071'],
 ['40.7441', '-73.871895'],
 ['40.705265', '-73.81606'],
 [],
 ['40.698368', '-73.996956'],
 ['40.846947', '-73.92842'],
 ['40.742874', '-73.933945'],
 ['40.666405', '-73.802635'],
 ['40.7642', '-73.788086'],
 ['40.52671', '-74.17841'],
 ['40.816864', '-73.882744'],
 ['40.719337', '-73.985916'],
 ['40.752453', '-73.87534'],
 ['40.84756', '-73.857445'],
 ['40.754387', '-73.89653'],
 ['40.722324', '-74.01178'],
 ['40.668907', '-73.78106'],
 ['40.729008', '-74.00089'],
 ['40.603004', '-73.96156'],
 ['40.81513', '-73.94535'],
 [],
 ['40.600014', '-73.9665'],
 ['40.70985', '-73.917145'],
 ['40.845806', '-73.92921'],
 ['40.868534', '-73.91841'],
 ['40.789055', '-73.94861'],
 ['40.671535', '-73.957664'],
 ['40.64406', '-73.99349'],
 ['40.8606', '-73.91102'],
 ['40.670403', '-73.98011'],
 ['40.665794', '-73.7464'],
 ['40.727833', '-73.811134'],
 ['40.607075', '-73.959854'],
 ['40.73937', '-73.79189'],
 ['40.75834', '-73.95775'],
 ['40.605568', '-74.03118'],
 ['40.67489', '-73.884544'],
 ['40.59647', '-73.97792'],
 ['40.63555', '-73.97803'],
 ['40.748543', '-73.94964'],
 ['40.652954', '-74.00215'],
 ['40.824074', '-73.85979'],
 ['40.776695', '-73.927826'],
 [],
 ['40.646378', '-73.97085'],
 ['40.76132', '-73.9171'],
 [],
 ['40.88521', '-73.86271'],
 ['40.85916', '-73.89177'],
 ['40.809048', '-73.92856'],
 ['40.856243', '-73.895584'],
 ['40.636265', '-73.94802'],
 ['40.586056', '-73.97178'],
 ['40.683655', '-73.78266'],
 ['40.607513', '-73.94907'],
 [],
 [],
 ['40.709824', '-73.89536'],
 [],
 ['40.69834', '-73.94284'],
 ['40.792927', '-73.94791'],
 ['40.761093', '-73.98327'],
 ['40.76155', '-73.99408'],
 ['40.755272', '-73.985176'],
 ['40.70495', '-74.01156'],
 ['40.798256', '-73.82744'],
 ['40.812313', '-73.93136'],
 ['40.675434', '-73.9037'],
 ['40.77077', '-73.91727'],
 [],
 ['40.70799', '-73.904785'],
 ['40.8037', '-73.93582'],
 ['40.63267', '-73.93102'],
 ['40.752316', '-73.8324'],
 [],
 ['40.725998', '-73.950035'],
 ['40.86221', '-73.89965'],
 ['40.878746', '-73.84241'],
 [],
 ['40.686085', '-73.982666'],
 ['40.60307', '-74.14047'],
 ['40.78849', '-73.78973'],
 ['40.666405', '-73.802635'],
 ['40.730133', '-73.98949'],
 [],
 [],
 ['40.634914', '-73.88453'],
 [],
 ['40.80532', '-73.95101'],
 ['40.809284', '-73.92927'],
 ['40.85525', '-73.91277'],
 [],
 ['40.680775', '-73.922356'],
 ['40.729008', '-73.99375'],
 ['40.64606', '-74.01648'],
 ['40.897884', '-73.83969'],
 ['40.71527', '-73.85857'],
 ['40.695858', '-73.81891'],
 ['40.825428', '-73.93631'],
 ['40.814526', '-73.83672'],
 ['40.74633', '-73.813866'],
 ['40.87144', '-73.867165'],
 ['40.739395', '-74.0028'],
 ['40.862614', '-73.890114'],
 ['40.694984', '-73.799904'],
 ['40.69787', '-73.743034'],
 ['40.73104', '-73.99961'],
 ['40.67232', '-73.87508'],
 ['40.636395', '-73.89109'],
 ['40.679504', '-74.00769'],
 ['40.735638', '-73.996864'],
 ['40.824425', '-73.84614'],
 ['40.61811', '-73.959114'],
 ['40.639717', '-73.99083'],
 ['40.676792', '-73.737946'],
 ['40.6348', '-74.13556'],
 ['40.83917', '-73.83629'],
 ['40.64137', '-73.87729'],
 ['40.677876', '-73.85064'],
 ['40.759243', '-73.96829'],
 ['40.768517', '-73.91236'],
 ['40.679344', '-73.98722'],
 ['40.69215', '-73.86216'],
 ['40.600742', '-73.75392'],
 ['40.736496', '-73.909225'],
 ['40.65116', '-73.88994'],
 ['40.762234', '-73.98987'],
 ['40.665558', '-73.72985'],
 ['40.839085', '-73.843925'],
 ['40.718555', '-73.988205'],
 ['40.673107', '-73.99959'],
 ['40.74468', '-73.987305'],
 ['40.717278', '-73.99544'],
 ['40.721966', '-74.00824'],
 ['40.75747', '-73.95583'],
 ['40.68957', '-73.85706'],
 [],
 ['40.808006', '-73.91434'],
 ['40.668144', '-73.95212'],
 ['40.746204', '-73.835075'],
 ['40.76541', '-73.96798'],
 ['40.622826', '-73.938416'],
 ['40.72639', '-73.9918'],
 ['40.733166', '-74.01014'],
 ['40.58865', '-74.11126'],
 ['40.713634', '-73.94595'],
 ['40.890995', '-73.90243'],
 [],
 ['40.747334', '-73.955055'],
 ['40.750626', '-73.87595'],
 ['40.741207', '-73.71864'],
 ['40.724403', '-73.99589'],
 ['40.785774', '-73.80956'],
 ['40.57624', '-73.95952'],
 ['40.68293', '-74.005684'],
 ['40.843063', '-73.90954'],
 ['40.76555', '-73.83911'],
 ['40.599247', '-74.00146'],
 ['40.802753', '-73.93358'],
 ['40.766666', '-73.96707'],
 ['40.854874', '-73.916794'],
 ['40.70213', '-73.80445'],
 ['40.745148', '-73.93348'],
 [],
 [],
 ['40.665558', '-73.72985'],

In [123]:
"""# now verify if they match with the latitude and longitude columns
#str(location_df.lat) == str(location_df.latitude)
location_df"""

,location,latitude,longitude,borough,zip_code,on_street_name,off_street_name,cross_street_name,lat,lon,latitude_check,longitude_check
0,"[40.536728, -74.193344]",40.536728,-74.193344,STATEN ISLAND,10312.0,NaN,NaN,243 DARLINGTON AVENUE,40.536728,-74.193344,40.536728,-74.193344
1,"[40.829052, -73.85038]",40.829052,-73.850380,BRONX,10472.0,CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,40.829052,-73.85038,40.829052,-73.85038
2,"[40.677303, -73.804565]",40.677303,-73.804565,QUEENS,11420.0,135 STREET,FOCH BOULEVARD,NaN,40.677303,-73.804565,40.677303,-73.804565
3,"[40.624958, -74.145775]",40.624958,-74.145775,NaN,NaN,FOREST AVENUE,RICHMOND AVENUE,NaN,40.624958,-74.145775,40.624958,-74.145775
4,"[40.828846, -73.90312]",40.828846,-73.903120,BRONX,10456.0,NaN,NaN,1167 BOSTON ROAD,40.828846,-73.90312,40.828846,-73.90312
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,"[40.618893, -73.94642]",40.618893,-73.946420,BROOKLYN,11210.0,NaN,NaN,1314 EAST 29 STREET,40.618893,-73.94642,40.618893,-73.94642
99996,"[40.72338, -73.81475]",40.723380,-73.814750,QUEENS,11367.0,NaN,NaN,150-62 76 ROAD,40.72338,-73.81475,40.72338,-73.81475
99997,"[40.71082, -73.96853]",40.710820,-73.968530,BROOKLYN,11249.0,BROADWAY,KENT AVENUE,NaN,40.71082,-73.96853,40.71082,-73.96853
99998,"[40.63118, -73.928185]",40.631180,-73.928185,BROOKLYN,11234.0,NaN,NaN,1695 UTICA AVENUE,40.63118,-73.928185,40.63118,-73.928185
99999,"[40.75076, -73.96843]",40.750760,-73.968430,MANHATTAN,10017.0,EAST 45 STREET,1 AVENUE,NaN,40.75076,-73.96843,40.75076,-73.96843

In [86]:
"""location_df.location[0]"""

['40.536728', '-74.193344']

In [65]:
"""loc["location"].map(lambda x : x.strip("()"))"""

AttributeError: 'float' object has no attribute 'strip'

In [56]:
"""float(df[location_columns].iloc[0].location.strip("()").split(", ")[1]) == df[location_columns].iloc[0].longitude"""

True

In [4]:
"""df.describe().T"""

,count,mean,std,min,25%,50%,75%,max
zip_code,64966.0,1.090165e+04,523.494905,10000.00000,1.045700e+04,1.120900e+04,1.135400e+04,1.169700e+04
latitude,91965.0,4.065192e+01,1.746143,0.00000,4.066792e+01,4.071772e+01,4.078560e+01,4.091217e+01
longitude,91965.0,-7.378199e+01,3.276307,-201.23706,-7.396087e+01,-7.391811e+01,-7.386286e+01,0.000000e+00
number_of_persons_injured,100000.0,3.719600e-01,0.743916,0.00000,0.000000e+00,0.000000e+00,1.000000e+00,1.500000e+01
number_of_persons_killed,100000.0,1.930000e-03,0.046112,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
number_of_pedestrians_injured,100000.0,4.739000e-02,0.223438,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
number_of_pedestrians_killed,100000.0,6.400000e-04,0.025290,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
number_of_cyclist_injured,100000.0,4.964000e-02,0.222343,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
number_of_cyclist_killed,100000.0,2.500000e-04,0.015809,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
number_of_motorist_injured,100000.0,2.749200e-01,0.711058,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
number_of_motorist_killed,100000.0,1.040000e-03,0.034913,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
collision_id,100000.0,4.226109e+06,165356.051121,2568.00000,4.182343e+06,4.300224e+06,4.328315e+06,4.353706e+06

In [5]:
"""profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)"""

In [6]:
"""profile.to_widgets()"""

Summarize dataset:   0%|          | 0/42 [00:00<?, ?it/s]

c:\users\philippe\appdata\local\programs\python\python39\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))
c:\users\philippe\appdata\local\programs\python\python39\lib\site-packages\scipy\stats\stats.py:4596: RuntimeWarning: invalid value encountered in sqrt
  np.sqrt(var) / np.sqrt(2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu

## Other modifications

## Data export

In [15]:
df.to_csv("./data/data_first.csv")

## Next steps

*To be determined*